@font-family: 'Open Sans', sans-seriff;
@weight_light: 300;
@weight_regular: 400;
@weight_light: 600;
@heading-size: 1.2em;
@text-size: 1em;
@primary_color: #333333;
@secondary_Color: #043c63;
@leading: 1.5; 

html {
    font-family: @font-family;
    line-height: @leading;
    font-weight: @weight_regular;
	}
.ax-hidden{
	
}
// Header / Footer Styles 

@color_1: white;

header {
	width: 100%;
	height: 100px;
	background: black;
	color: @color_1;
	text-align: center;
	h2 {
		position: relative;
		top: 2.8em;
	}
}
footer {
	width: 100%;
	height: 100px;
	background: black;
	color: @color_1;
	text-align: center;
	h2 {
		position: relative;
		top: 2.8em;
	}
}
// Breadcrumb

@color_2:#043c63; 

.breadcrumb {
	margin: 3% 1%;
	font-size: 14px;
	a {
		text-decoration: none;
        color: @color_2;
        text-decoration: none;
		&:before {
			content: "/";
			margin-right: 10px;
		}
		&:nth-child(1) {
			&::before {
				content: "";
			}
		}
	}
}
.row{
	display:inline-block;
	vertical-align:top;
}
.col-3{width:33%;}
.col-6{width:66%;}
.nav-product{
	padding:15px;
	background:#ececec;
}
form.sort{
	float:right;
}

#plp-listing{

	li{
		width:20%;
		display:inline-grid;
	}
	a{
		text-decoration: none;
		color:@color_2;
		display:block;
		width:100%;
		span{
			display:block;
		}
		span.hotPrice{
			color:red;
		}
		.fa{
			color:#cdcdcd;
		}
		.fa.checked{
			color:rgb(208, 255, 0);
		}
	}
}